/*=================================
=           Font sizes            =
=================================*/

$font-sizes: (
    small: 1.3rem,
    regular: 1.6rem,
    medium: 1.8rem,
    large: 2rem,
    x-large: 2.2rem,
) !default;

/*=================================
=           Font faces            =
=================================*/

// Files (woff + woff2 required)
$fonts-directory: "./fonts/" !default;

$font-faces: (
    // <name> <filename> <font-weight> <font-style>,
) !default; // prettier-ignore

// Font families
$font-families: (
    heading: (
        Georgia,
        serif,
    ),
    body: (
        Arial,
        sans-serif,
    ),
) !default;

/*=================================
=            Headings             =
=================================*/

// Used by mixin h()
$headings: (
    shared: (
        font-family: var(--ff-heading),
        line-height: 1,
        font-weight: bold,
    ),
    h1: (
        font-size: (
            xs: 38 fluid,
            2xl: 66,
        ),
    ),
    h2: (
        font-size: (
            xs: 32 fluid,
            2xl: 52,
        ),
    ),
    h3: (
        font-size: (
            xs: 28 fluid,
            2xl: 38,
        ),
    ),
    h4: (
        font-size: (
            xs: 22 fluid,
            2xl: 28,
        ),
        line-height: 1.1,
    ),
    h5: (
        font-size: (
            xs: 18 fluid,
            2xl: 22,
        ),
        line-height: 1.25,
    ),
    h6: (
        font-size: 16,
        line-height: 1.25,
    ),
) !default;
