/*======================================
=             Containers               =
======================================*/

@use "sass:math";

$containers-screen-size-base: 1440px !default;

$containers: (
    // <name>: <container-width> <gutter-width> <fluid>
    default: 1920px 60px,
    fluid: 1920px 60px fluid,
    small: 420px 60px,
    medium: 870px 60px,
    full: none 60px
) !default;

/**
 * Container(s) styles generator
 * @param  {string} $variant     What size variant to generate.
 *                               Use 'all' to generate default base styles and all other keys as modifier classes
 * @return {void}
 */
@mixin container($variant: "default") {
    @if $variant == "all" {
        @each $name, $props in $containers {
            $width: nth($props, 1);
            $gutter: nth($props, 2);
            $fluid: index-exists($props, fluid);

            @if $name == "default" {
                @include container-styles($width, $gutter, $fluid);
            } @else {
                &.-#{$name} {
                    --container-width: #{$width};
                    --container-gutter: #{$gutter};
                }
            }
        }
    } @else {
        @if not map-has-key($containers, $variant) {
            @error "No key found in $containers map for `#{$variant}`. Property omitted.";
        }

        $props: map-get($containers, $variant);
        $width: nth($props, 1);
        $gutter: nth($props, 2);
        $fluid: index-exists($props, fluid);

        @include container-styles($width, $gutter, $fluid);
    }
}

@mixin container-styles($width, $gutter, $fluid: false) {
    $container-width: $width;
    @if $fluid != false {
        $container-width-fluid: strip-units(
                math.div($width, $containers-screen-size-base)
            ) *
            100vw;
        $container-width: max(#{$width}, #{$container-width-fluid});
    }

    display: block;
    width: var(--container-width, #{$container-width});
    max-width: calc(100% - (var(--container-gutter, #{$gutter}) * 2));
    margin-left: var(--container-margin-left, auto);
    margin-right: var(--container-margin-right, auto);
}
