/*=======================================
=                 Grid                  =
=======================================*/

$grid: (
    // <breakpoint>: <columns> <gap-size>
    xs: 4 20px,
    lg: 8 30px,
    xl: 12 30px
) !default;

@mixin make-cssgrid($columns: 12, $bps: $breakpoints) {
    @each $breakpoint in map-keys($bps) {
        $infix: breakpoint-infix($breakpoint, $bps);

        @include min($breakpoint, $bps) {
            @if $columns > 0 {
                @for $i from 1 through $columns {
                    .col-#{$i}#{$infix} {
                        --grid-col-start-default: auto;
                        --grid-col-end-default: span #{$i};
                    }
                }

                // Start with `1` because `0` is and invalid value.
                // Ends with `$columns - 1` because offsetting by the width of an entire row isn't possible.
                @for $i from 1 through ($columns - 1) {
                    .start-#{$i}#{$infix} {
                        --grid-col-start-default: $i;
                    }
                    .end-#{$i}#{$infix} {
                        --grid-col-end-default: $i * -1;
                    }
                }

                .col-full#{$infix} {
                    --grid-col-start-default: 1;
                    --grid-col-end-default: -1;
                }

                .col-half#{$infix} {
                    --grid-col-start-default: auto;
                    --grid-col-end-default: span
                        calc(var(--grid-columns, #{$columns}) / 2);
                }

                .col-third#{$infix} {
                    --grid-col-start-default: auto;
                    --grid-col-end-default: span
                        calc(var(--grid-columns, #{$columns}) / 3);
                }
            }
        }
    }
}

@mixin grid {
    $largestGrid: getLargestValue($grid, 1, "complete");
    $largestGridColumns: nth($largestGrid, 2);
    $largestGridGap: nth($largestGrid, 3);

    display: grid;
    grid-template-rows: repeat(var(--grid-rows, 1), minmax(0, 1fr));
    grid-template-columns: repeat(
        var(--grid-columns, $largestGridColumns),
        minmax(0, 1fr)
    );
    column-gap: var(--grid-col-gap, var(--grid-gap, $largestGridGap));
    row-gap: var(--grid-row-gap, var(--grid-gap, $largestGridGap));

    > * {
        grid-column-start: dvar(--grid-col-start, 1);
        grid-column-end: dvar(--grid-col-end, -1);
    }

    @include make-cssgrid($largestGridColumns);
}
