/*=======================================
=              Reset list               =
=======================================*/

@mixin reset-list {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

/*=======================================
=            Pseudo elements            =
=======================================*/

@mixin pseudo-el(
    $content: "",
    $display: block,
    $width: 100%,
    $height: 100%,
    $bg: none
) {
    content: $content;
    display: $display;
    width: $width;
    height: $height;

    @if type-of($bg) == color {
        background-color: $bg;
    } @else {
        background: $bg;
    }
}

/*=================================
=             States              =
=================================*/

// Disable anything
@mixin disabler {
    &[disabled],
    &[aria-disabled="true"] {
        pointer-events: none;
        text-decoration: none;
        cursor: not-allowed;
        @content;
    }
}

// Hover with focus and predefined classes support
@mixin hover($cssClasses: true) {
    @if ($cssClasses) {
        &:hover,
        &:focus,
        &.is-hover,
        &.is-focus {
            @content;
        }
    } @else {
        &:hover,
        &:focus {
            @content;
        }
    }
}
