/*=======================================
=              Reset list               =
=======================================*/

@mixin reset-list {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

/*=================================
=           Shorthands            =
=================================*/

// Disable anything
@mixin disabler {
    &[disabled],
    &[aria-disabled="true"] {
        pointer-events: none;
        text-decoration: none;
        cursor: not-allowed;
        @content;
    }
}

// Hover with focus and predefined classes support
@mixin hover($cssClasses: true) {
    @if ($cssClasses) {
        &:hover,
        &:focus,
        &.is-hover,
        &.is-focus {
            @content;
        }
    } @else {
        &:hover,
        &:focus {
            @content;
        }
    }
}

// Placeholders
@mixin placeholder() {
    &::placeholder {
        @content;
    }
    // Edge
    &::-webkit-input-placeholder {
        @content;
    }
    // Internet Explorer 10-11
    &:-ms-input-placeholder {
        @content;
    }
    // Firefox 19+
    &::-moz-placeholder {
        @content;
    }
}
