/*======================================
=            Viewport width            =
======================================*/

@mixin fullscreen(
    $position: absolute,
    $top: 0,
    $right: 0,
    $bottom: 0,
    $left: 0,
    $var-prefix: "fullscreen"
) {
    position: var(--#{$var-prefix}-position, $position);
    top: var(--#{$var-prefix}-top, $top);
    right: var(--#{$var-prefix}-right, $right);
    bottom: var(--#{$var-prefix}-bottom, $bottom);
    left: var(--#{$var-prefix}-left, $left);
}

@mixin center-viewport($width: 100vw) {
    left: calc(50% - #{$width});
    width: $width;
}

@mixin clearfix {
    &:after {
        content: "";
        display: block;
        height: 1px;
        clear: both;
    }
}

/*======================================
=              Overflow                =
======================================*/

@mixin hide-scrollbar {
    scrollbar-width: none;
    scrollbar-height: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
        background-color: transparent;
    }
}

@mixin overflow($orientation: "vertical") {
    $valid-orientation: horizontal, vertical, both;
    @if not index($valid-orientation, $orientation) {
        @error "'#{$orientation}' is not a valid orientation. Choose between : #{$valid-orientation}.";
    }

    @if ($orientation == "horizontal") {
        overflow-x: auto;
    } @else if ($orientation == "vertical") {
        overflow-y: auto;
    } @else {
        overflow: auto;
    }

    @include hide-scrollbar;
}
