/**
   * Add inner shadows on element to make overflow more obvious.
   * 
   * @param {string} $color         Color of shadow
   * @param {string} $orientation   Position of gradients in parent top/bottom or left/right. Values: vertical | horizontal
   * @param {string} $size          Size of the shadow. Applied on width or height according to orientation.
   * 
   */
@mixin overflow-shadows($color: white, $orientation: vertical, $size: 4rem) {
    $valid-orientation: horizontal, vertical;
    @if not index($valid-orientation, $orientation) {
        @error "'#{$orientation}' is not a valid orientation. Choose between : #{$valid-orientation}.";
    }

    &:before,
    &:after {
        @include unselectable;
        content: "";
        position: var(--overflow-shadow-position, absolute);
        z-index: var(--overflow-shadow-z, 9);
        background: var(
            --overflow-shadow-background,
            linear-gradient(
                var(--overflow-shadow-direction),
                var(--overflow-shadow-color, #{$color}),
                transparent
            )
        );
        @if $orientation == "vertical" {
            height: var(--overflow-shadow-size, #{$size});
            left: var(
                --overflow-shadow-offset-left,
                var(--overflow-shadow-offset, 0)
            );
            right: var(
                --overflow-shadow-offset-right,
                var(--overflow-shadow-offset, 0)
            );
        } @else {
            width: var(--overflow-shadow-size, #{$size});
            top: var(
                --overflow-shadow-offset-top,
                var(--overflow-shadow-offset, 0)
            );
            bottom: var(
                --overflow-shadow-offset-bottom,
                var(--overflow-shadow-offset, 0)
            );
        }
    }

    &:before {
        @if $orientation == "vertical" {
            --overflow-shadow-direction: 180deg;
            top: var(--overflow-shadow-before-top, 0);
        } @else {
            --overflow-shadow-direction: 90deg;
            left: var(--overflow-shadow-before-left, 0);
        }
        opacity: var(--overflow-shadow-before-opacity, 1);
    }

    &:after {
        @if $orientation == "vertical" {
            --overflow-shadow-direction: 0deg;
            bottom: var(--overflow-shadow-after-bottom, 0);
        } @else {
            --overflow-shadow-direction: -90deg;
            right: var(--overflow-shadow-after-right, 0);
        }
        opacity: var(--overflow-shadow-after-opacity, 1);
    }
}
