/*=======================================
=            Global settings            =
=======================================*/

html {
    font-size: $html-fs; // 10px by default

    // Better font rendering for mac
    @include antialiased;
}

body {
    background-color: $body-bg-color;
}

// Selection
@include selection {
    color: $selection-color;
    background: $selection-bg;
}
