/*=======================================
=                Colors                 =
=======================================*/

$colors: (
    black: #000000,
    white: #ffffff,
    grey: #999999,
    valid: #a6d3a0,
    warning: #f7a6a6,
    yellow: #fef17b,
    blue: #274ee5,
) !default;

/*=======================================
=         Document Typography           =
=======================================*/

// <html> Font size
$html-fs: 10px !default;

// <body> Font styles
$body-font-color: var(--queso-color-black) !default;
$body-font-family: var(--queso-ff-body) !default;
$body-font-size: var(--queso-fs-regular) !default;
$body-line-height: 1.35 !default;

/*=======================================
=            Selected Text              =
=======================================*/

$selection-bg: var(--queso-color-black) !default;
$selection-color: var(--queso-color-white) !default;
