/*============================
=        Breakpoints         =
============================*/

$breakpoints: (
    xxs: 0,
    xs: 420px,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    2xl: 1440px,
    3xl: 1600px,
    4xl: 1900px,
);

// Alternative breakpoints
$screens: (
    mobile: 0,
    tablet: 740px,
    laptop: 1200px,
    desktop: 1600px,
);

/*============================
=         Container          =
============================*/

$containers: (
    // <name>: <width> <gutter>
    default: 192rem 6rem,
    small: 42rem 6rem,
    medium: 87rem 6rem,
    full: none 6rem
);

$lineup-gap: var(--grid-gap);

$rte-gap: $default-line-height * 1em;

/*============================
=            Grid            =
============================*/

$grid-columns: 12;
$grid-gaps: (
    xs: 2rem,
    xl: 3rem,
);

/*=================================
=            Z-indexes            =
=================================*/

$layers: (
    default: 1,
    loader: 500,
    header: 200,
    dropdown: 100,
    modal: 300,
    limbo: -100,
);
