/*=======================================
=               CSS var()               =
=======================================*/

:root {
    // Colors
    @each $name, $hex in $colors {
        --color-#{"" + $name}: #{$hex}; // '"" + ' required to compile since a color can be a value (ex: blue)
    }

    // Typography
    @each $name, $families in $font-families {
        --ff-#{$name}: #{$families};
    }

    @each $name, $size in $font-sizes {
        --fs-#{$name}: #{$size};
    }

    // Responsive gaps and columns
    @each $bp, $params in $grid {
        $index: index($grid, $bp $params);
        $gap: nth($params, 1);
        $columns: nth($params, 2);

        @if $index == 1 {
            --grid-columns: #{$columns};
            @include make-variations("grid-gap", $gap, true);
        } @else {
            @include min($bp) {
                --grid-columns: #{$columns};
                --grid-gap: #{$gap};
            }
        }
    }

    // Size of 1 column
    --grid-column-width: calc(
        (100% - (var(--grid-gap) * (var(--grid-columns) - 1))) /
            var(--grid-columns)
    );
    // Size of a column + gap
    --grid-offset: calc(var(--grid-column-width) + var(--grid-gap));

    // Layers
    @each $name, $layer in $layers {
        --z-#{$name}: #{$layer};
    }
}
