/*=======================================
=               CSS var()               =
=======================================*/

:root {
    // Colors
    @each $name, $hex in $colors {
        --queso-color-#{"" + $name}: #{$hex}; // '"" + ' required to compile since a color can be a value (ex: blue)
    }

    // Typography
    @each $name, $families in $font-families {
        --queso-ff-#{$name}: #{$families};
    }

    @each $name, $size in $font-sizes {
        --queso-fs-#{$name}: #{$size};
    }

    // Grid gap
    @each $bp, $gap in $grid-gaps {
        $index: index($grid-gaps, $bp $gap);

        @if $index == 1 {
            @include make-variations("queso-grid-gap", $gap, true);
        } @else {
            @include min($bp) {
                --queso-grid-gap: #{$gap};
            }
        }
    }

    --queso-grid-columns: #{$grid-columns};
    --queso-grid-column-width: calc(
        (100% - (var(--queso-grid-gap) * (var(--queso-grid-columns) - 1))) /
            var(--queso-grid-columns)
    ); // Size of 1 column
    --queso-grid-offset: calc(
        var(--queso-grid-column-width) + var(--queso-grid-gap)
    ); // Size of a column + gap

    @include max(sm) {
        --queso-grid-columns: 1;
    }

    // Rich text editor gap
    @include make-variations("queso-rte-gap", $rte-gap);

    // Layers
    @each $name, $layer in $layers {
        --queso-z-#{$name}: #{$layer};
    }
}
