/*=================================
=           Typography            =
=================================*/

// @include fontfaces($font-faces, dir("font"));

body {
    color: $font-color;
    font-family: $dflt-font-family;
    font-size: $dflt-font-size;
    line-height: $dflt-line-height;
}

// Generate headings
@each $name, $attr in $headings {
    @if $name != "shared" {
        .t-#{$name} {
            @include h(#{$name});
        }
    }
}

/*==========================================
=            CMS content styles            =
==========================================*/

.t-rte {
    @include rte;
}

.t-legal {
    @include legal-style;
}

/*=====================================
=            Miscellaneous            =
=====================================*/

small {
    font-size: var(--fs-small, 0.8em);
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    font-family: var(--ff-body);
    font-size: var(--fs-regular);
}
