/*=================================
=           Typography            =
=================================*/

// @include fontfaces($font-faces, dir("font"));

body {
    color: $font-color;
    font-family: $default-font-family;
    font-size: $default-font-size;
    line-height: $default-line-height;
}

// Generate headings
@each $name, $attr in $headings {
    @if $name != "shared" {
        .t-#{$name} {
            @include h(#{$name});
        }
    }
}

/*==========================================
=            CMS content styles            =
==========================================*/

.t-rte {
    @include rte;
}
