@mixin label {
    color: var(--color-black-pale);
    font-size: var(--fs-small);
    line-height: 1.2;
}

@mixin field {
    --field-fs: var(--fs-regular);
    --field-ff: var(--ff-body);

    display: flex;
    align-items: var(--field-align, center);
    justify-content: var(--field-justify, flex-start);
    gap: var(--field-gap, 1.5rem);
    width: var(--field-width, 100%);
    height: var(--field-height, 5rem);
    color: var(--field-txt-color, var(--color-black-pale));
    font-size: var(--field-fs);
    font-family: var(--field-ff);
    padding: var(--field-padding-y, 0) var(--field-padding-x, 2rem);
    position: relative;
    background: var(--field-bg-color, var(--color-white));
    border-radius: var(--field-radius, var(--border-radius-md));
    border: 1px solid var(--field-border-color, var(--color-grey-faded));
    transition: background-color 0.2s ease, border-color 0.2s ease;

    input,
    textarea {
        width: 100%;
        padding: 1.4rem 0;
    }
}
