/*=================================
=        Rich text editor         =
=================================*/

@mixin rte {
    // Spacing applied like this to prevent margin top/bottom when not direct child
    $toApplySpacing: p, ul, ol, blockquote;
    @each $elem in $toApplySpacing {
        #{$elem} {
            @each $elem in $toApplySpacing {
                & + #{$elem} {
                    margin-top: var(--queso-rte-gap, 1em);
                }
            }
        }
    }

    a:not(.primary-button) {
        color: var(--queso-color-black);
        font-weight: bold;

        &[target="_blank"]:after {
            content: " ↗";
            vertical-align: bottom;
        }

        &:hover {
            color: var(--queso-color-grey);
        }
    }

    blockquote {
        font-style: italic;
        padding-left: var(--queso-rte-gap, 1em);
        border-left: var(--queso-rte-gap-third, 0.5em) solid
            var(--queso-color-grey, lightgrey);
    }

    hr {
        width: 100%;
        height: 1px;
        margin: var(--queso-rte-gap-2X, 2em) auto;
        background-color: var(--queso-color-grey, lightgrey);
        border: none;
    }

    // Titles
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: var(--queso-rte-gap, 1em);
        margin-bottom: var(--queso-rte-gap-half, 1rem);
    }

    @each $name, $attr in $headings {
        @if $name != "shared" {
            #{$name} {
                @include h(#{$name});
            }
        }
    }

    // Lists
    ul,
    ol {
        list-style: none;

        li {
            padding-left: var(--queso-rte-gap);
            position: relative;

            &:not(:first-child) {
                margin-top: var(--queso-rte-gap-half);
            }
        }

        ul,
        ol {
            margin-top: var(--queso-rte-gap-half);
            margin-bottom: 0;
        }
    }

    ul {
        > li {
            &:before {
                content: "•";
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }

    ol {
        counter-reset: ol;

        > li {
            &:before {
                counter-increment: ol;
                content: counter(ol) ".";
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }

    // Medias
    figure {
        margin-top: var(--queso-rte-gap, 1em);
        margin-bottom: var(--queso-rte-gap, 1em);

        img {
            @include img;
            margin-left: auto;
            margin-right: auto;
        }

        iframe {
            width: 100%;
            height: auto;
            aspect-ratio: 16 / 9;
        }

        figcaption,
        caption {
            display: block;
            font-size: var(--queso-fs-small);
            font-style: italic;
            margin-top: 0.5em;
        }
    }

    // No margin at start and end of container
    > *:first-child {
        margin-top: 0;
    }

    > *:last-child {
        margin-bottom: 0;
    }
}
