/*======================================
=               Line up                =
======================================*/

/**
 * Align and space elements in a container
 * @param  {string} $orientation     Orientation. Values: 'horizontal' or 'vertical'
 * @param  {string} $alignX          Alignment of each element on X axis. Values: 'left', 'right' or 'center'
 * @param  {string} $alignY          Alignment of each element on Y axis. Values: 'left', 'right' or 'center'
 * @return {void}
 */
@mixin stack($orientation: "horizontal", $alignX: "left", $alignY: "center") {
    // Validation
    $valid-orientation: horizontal, vertical;
    @if not index($valid-orientation, $orientation) {
        @error "'#{$orientation}' is not a valid orientation. Choose between : #{$valid-orientation}.";
    }

    $valid-alignX: left, right, center;
    @if not index($valid-alignX, $alignX) {
        @error "'#{$alignX}' is not a valid X axis alignment. Choose between : #{$valid-alignX}.";
    }

    $valid-alignY: top, bottom, center;
    @if not index($valid-alignY, $alignY) {
        @error "'#{alignY}' is not a valid Y axis alignment. Choose between : #{$valid-alignY}.";
    }

    // Flexbox params depending on chosen orientation and alignments
    $direction: row;
    $align: flex-start;
    $justify: flex-start;
    $wrap: wrap;

    @if $orientation == "horizontal" {
        $direction: row;

        @if $alignX == "left" {
            $justify: flex-start;
        } @else if $alignX == "right" {
            $justify: flex-end;
        } @else if $alignX == "center" {
            $justify: center;
        }

        @if $alignY == "top" {
            $align: flex-start;
        } @else if $alignY == "bottom" {
            $align: flex-end;
        } @else if $alignY == "center" {
            $align: center;
        }
    } @else if $orientation == "vertical" {
        $direction: column;
        $wrap: nowrap;

        @if $alignX == "left" {
            $align: flex-start;
        } @else if $alignX == "right" {
            $align: flex-end;
        } @else if $alignX == "center" {
            $align: center;
        }

        @if $alignY == "top" {
            $justify: flex-start;
        } @else if $alignY == "bottom" {
            $justify: flex-end;
        } @else if $alignY == "center" {
            $justify: center;
        }
    }

    // Apply styles
    display: flex;
    align-items: var(--stack-align, #{$align});
    justify-content: var(--stack-justify, #{$justify});
    flex-direction: var(--stack-direction, #{$direction});
    column-gap: var(--stack-col-gap, var(--stack-gap, #{$stack-gap}));
    row-gap: var(--stack-row-gap, var(--stack-gap, #{$stack-gap}));
    flex-wrap: var(--stack-wrap, #{$wrap});
}
