/*======================================
=               Line up                =
======================================*/

/**
 * Align and space elements in a container
 * @param  {string} $orientation     Orientation. Values: 'horizontal' or 'vertical'
 * @param  {string} $alignment       Alignment of each element. Values: 'left', 'right' or 'center'
 * @return {void}
 */
@mixin stack($alignment: "left", $orientation: "vertical") {
    @if $orientation == "vertical" {
        --stack-direction: column;

        @if $alignment == "center" {
            --stack-align: center;
        } @else if $alignment == "right" {
            --stack-align: flex-end;
        }
    } @else {
        --stack-direction: row;

        @if $alignment == "center" {
            --stack-justify: center;
        } @else if $alignment == "right" {
            --stack-justify: flex-end;
        }
    }

    --stack-gap: #{$stack-gap};
    display: flex;
    align-items: var(--stack-align, flex-start);
    justify-content: var(--stack-justify, flex-start);
    flex-direction: var(--stack-direction, row);
    column-gap: var(--stack-col-gap, var(--stack-gap));
    row-gap: var(--stack-row-gap, var(--stack-gap));
    flex-wrap: var(--stack-wrap, wrap);
}
